.nav{
    position: fixed;
    top: 2.9vw;
    left: 0;
    width: 100vw;
    justify-content: space-between;
    
    z-index: 99;
}

.backHome{
    display: inline-flex;

    background-color: transparent;
    
    cursor: pointer;
    transform: rotate(180deg) scale(0.8);
}

.logo{
    height: 2.7vmax;
}

.arrow {
    height: 2.72vmax;
}

