.nav{
    width: 100vw;
    padding-top: 2.9vw;
    justify-content: space-between;
    
    z-index: 99;
}

.backHome{
    display: inline-flex;

    background-color: transparent;
    
    cursor: pointer;
    transform: rotate(180deg) scale(0.8);
}

.logo{
    height: 2.7vmax;
}

.logo path {
    stroke: var(--color-white);
}

.arrow {
    height: 2.72vmax;
}

.arrow path {
    stroke: var(--color-white);
}
