.nav {
  position: fixed;
  top: 0;

  width: 100vw;
  height: 7vw;

  padding-inline: var(--padding-inline);

  display: flex;
  justify-content: space-between;

  & div {
    padding-top: 2.5vw;
  }

}
.asterisc {

  position: fixed;
  right: calc(0px + var(--padding-inline));
  top: calc(0px + 1.19vw);

  /* transform: translate(-50%, -50%); */

  cursor: pointer;


  border: none;
  background-color: transparent;
  transform-origin: center;

  z-index: 99;
}