.nav {
  position: fixed;
  top: 0;

  width: 100vw;
  height: 7vw;


  display: flex;
  justify-content: space-between;
  z-index: 998;
  & div {
    padding-top: 2.5vw;
  }

}
.asterisc {

  position: fixed;
  right: calc(0px + var(--container-padding));
  top: calc(0px + 1.19vw);

  /* transform: translate(-50%, -50%); */

  cursor: pointer;


  border: none;
  background-color: transparent;
  transform-origin: center;

  z-index: 99;
}

.menu{
  position: fixed;
  top:  8.88vw;

  right: var(--container-padding);
  z-index: 999;

  display: none;
}

.menu menu{
  list-style: none;

  
  & li{
    cursor: pointer;
    overflow: hidden;
    color: #fff;
    display: flex;
    gap: 1vw;
    align-items: center;

    & span{
      font-size: 2.59vw;
      font-family: var(--font-orbitron);
      display: block;

      transform: translateY(20vw); 
      line-height: 0.9;
    }

    & svg{
      opacity: 0;
      transform: translateX(-1vw);
    }
  }

  & li:not(:first-of-type){
    margin-top: 1.66vw;

  }
}