.nav {
  position: fixed;
  top: 0;

  width: 100vw;
  height: 7vw;

  padding-inline: var(--padding-inline);

  display: flex;
  justify-content: space-between;

  & div {
    padding-top: 2.5vw;
  }

}
.asterisc {

  position: fixed;
  right: calc(0px + var(--padding-inline));
  top: calc(0px + 1.19vw);

  /* transform: translate(-50%, -50%); */

  cursor: pointer;


  border: none;
  background-color: transparent;
  transform-origin: center;

  z-index: 99;
}

.menu{
  position: fixed;
  top:  10.88vw;

  right: var(--padding-inline);
  z-index: 99;
}

.menu menu{
  list-style: none;

  
  & li{
    font-size: 2.59vw;
    color: #fff;
  }

  & li:not(:first-of-type){
    margin-top: 1.66vw;
  }
}