.nav {
  position: fixed;
  top: 0;

  width: 100vw;
  padding-block: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 998;
}

.logo {
  height: 2.72vmax
}

.cheeseBurger {
  height: 2.72vmax;
  aspect-ratio: 1 / 1;

  cursor: pointer;

  z-index: 999;
}

.menu {
  /* display: flex; */

  padding-inline: var(--container-padding);
  
  list-style: none;

  z-index: 999;
}

.menu menu {

  & li {
    cursor: pointer;
    overflow: hidden;
    color: #fff;
    display: flex;
    gap: 1vw;
    align-items: center;

    & span {
     /* font-size: 5.59vw; */
      font-family: var(--font-orbitron);
      display: block;

      /* transform: translateY(22vw); */
      line-height: 1.3;
    }

    /* & svg {
      position: absolute;
      left: 2vw;
      opacity: 0;
      transform: translateX(calc(-1vw - 100%));
    } */
  }

  & li:not(:first-of-type) {
    margin-top: 1.66vw;
  }
}

.sitemap {
  justify-content: space-between;

  font-size: 9.6vw;
  font-family: var(--font-orbitron);
}

.innerText {
  color: var(--color-overlay-black);
}

.sitemap:hover .innerText {
  color: var(--color-white);
}

.innerText {
  font: inherit;
  font-size: 9.6vw;
  font-family: inherit;
}

.arrow {
  display: inline;
  float: right;

  height: 12px;

  transform: translateX(-100%) scaleX(1);
  opacity: 0;
  transition: 200ms var(--animation-bezier-smooth);
}


.sitemap:hover .arrow {
  transform: translateX(0%) scaleX(-1);
  opacity: 1;
}

.overlay {
  overflow: hidden;
  justify-content: center;
  position: fixed;
  top: -5vw;
  left: 0;
  width: 100vw;
  height: 0vh;
  background-color: #000000e1;
  backdrop-filter: blur(2px);
  z-index: 9;
}
