.info {
    overflow-x: hidden;
}

.users  {
    position: absolute;
    top: 0;
    right: 0;

    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    float: right;

}

.innerImage {
    display: inline-block;
    
    height: 48px;
    aspect-ratio: 1 / 1;
    
    border-radius: 50%;
}

.innerImage:not(:nth-child(1)) {
    margin-top: -24px;
}


.card {
    position: relative;

    min-width: 200px;
    padding-left: max(4vw, 2em);
}

.paragraph {
    margin-top: 3.69vw;

    text-wrap: nowrap;
}

.line {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 0.3vw;
    height: 14vw;
    background-color: #fff;
}

.cards {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


@media (width <=850px) {
    .paragraph{
        margin-top: 5.69vw;

        text-wrap: wrap;
    }
    .cards {
        flex-direction: column;
        gap: max(100px, 10vh);
    }

    .card {
        width: 100%;
        padding-left: 0;

    }

    .line {
        position: relative;
        width: 100%;
        height: 4px;

        margin-bottom: 36px;
    }

    .users {
        top: 36px;

        flex-direction: row;
    }

    
    .innerImage {
        height: 36px;
    }
    
    .innerImage:not(:nth-child(1)){
        margin-top: 0;
        margin-left: -12px;
    }
}