.info {}

.users  {
    position: absolute;
    top: 0;
    right: 0;

    display: inline-flex;
    vertical-align: top;
    float: right;

}

.innerImage {
    display: inline-block;
    margin-left: -12px;

    height: 48px;
    aspect-ratio: 1 / 1;

    border-radius: 50%;
}


.card {
    position: relative;

    min-width: 200px;
    padding-left: max(4vw, 2em);
}

.paragraph {
    margin-top: 3.69vw;

    text-wrap: nowrap;
}

.line {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 0.3vw;
    height: 14vw;
    background-color: #fff;
}

.cards {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


@media (width <=850px) {
    .cards {
        flex-direction: column;
        gap: max(100px, 10vh);
    }

    .card {
        width: 100%;
        padding-left: 0;

    }

    .line {
        position: relative;
        width: 100%;
        height: 4px;

        margin-bottom: 36px;
    }

    .users {
        top: 36px;
    }

    .innerImage {
        height: 36px;
    }
}