.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;

    padding-inline: calc(3.418 * var(--container-padding));
    padding-bottom: calc(3 * var(--gap-big-padding));
}

.top {
    display: flex;

    grid-column: 1 / -1;

}

.contentToLeft,
.contentToRight {
    padding-top: 3vw;
}

.contentToLeft {
    display: inline-block;
    max-width: 550px;

}

.contentToRight {
    display: inline;
    float: right;

    padding-left: max(4vw, 2em);
    max-width: 550px;
}

.personalTrainer {
    display: inline-block;
    vertical-align: bottom;

    margin-left: var(--gap-big-padding);
    height: 128px;
    aspect-ratio: 1 / 1;

    object-fit: cover;
    object-position: top;

    mix-blend-mode: lighten;

    border-radius: 50%;
}

.logo {
    display: inline-block;
    vertical-align: bottom;
    float: right;

    width: 24px;
    aspect-ratio: 1 / 1;
    margin-top: auto;
    margin-left: auto;
}

.contentToRight .ornament:not(:first-child) {
    margin-top: var(--gap-big-padding);
}


.list {
    gap: 16px;

    margin-top: max(2vw, 1em);

    list-style: none;
    list-style-type: none;
}

.index {
    cursor: pointer;
}

.arrow {
    height: 12px;
    width: 12px;
    float: right;
    vertical-align: middle;


}

.arrow path {
    stroke: var(--color-white);
}

.index .arrow {
    transform: translateX(-100%) scale(1);
    opacity: 0;

    transition: 200ms var(--animation-bezier-smooth);
}

.index:hover .arrow {
    transform: translateX(0%) scaleX(-1);
    opacity: 1;
}

.paragraph {
    width: max-content;

    white-space: nowrap;
    font-family: var(--font-orbitron) !important;
    text-transform: uppercase;
}

.ornament {
    overflow: hidden;

    align-items: center;
    gap: 1vw;
}

.line {
    width: 100%;
    height: var(--border-size);
    background-color: var(--color-blue);
}

.input {
    width: 100%;
    height: 3em;
    padding-left: 1em;
    /* padding-block: 1.5em; */

    color: var(--color-white);
    /* font-family: var(--font-orbitron) !important; */
    text-transform: uppercase;
    font-size: 16px;
    font-family: var(--font-khula);
    text-transform: none;

    border-radius: var(--border-size);
    background-color: var(--color-gray);
    outline: none;

    transition: border 200ms var(--animation-bezier-smooth);
}

.input:active,
.input:focus {
    border: 0.1vw solid var(--color-blue);
}

.form_wrapper {
    margin-top: 3.38vw;
    gap: 1.77vw;
}

.textArea_div {
    margin-top: 2.80vw;
}

.textArea {
    width: 100%;
    padding: 1vw;
    min-height: 19.82vh;

    color: var(--color-white);
    font-family: var(--font-khula);
    text-transform: none;
    font-size: 16px;

    background-color: var(--color-gray);

    transition: border 200ms var(--animation-bezier-smooth);

    resize: none;

}

.textArea:active,
.textArea:focus {
    border: 0.1vw solid var(--color-blue);
}

.submit_div {
    width: 43.33vw;
}

.submit {
    margin-top: 1.51vw;
    float: right;
    width: 322px;
    height: 2.65vw;
    padding-block: 0.8em;

    font-family: var(--font-orbitron) !important;
    font-size: 0.84vw;
    color: var(--color-white);
    letter-spacing: 10%;
    text-transform: uppercase;

    background-color: var(--color-blue);
    border-radius: var(--border-size);

    cursor: pointer;
}

.submit:disabled {
    opacity: 0.7;
}

.label {
    margin-bottom: var(--gap-padding);

    font-family: var(--font-khula) !important;
    font-size: 0.8em;
    font-weight: 300;
    line-height: 100%;
}

@media screen and (max-width: 850px) {
    .contact {
        grid-template-columns: 1fr;
        grid-template-areas: "first"
            "second"
            "forth"
            "third";
        gap: var(--gap);

        padding-inline: 5vw;


    }

    .title {
        grid-area: first;
    }

    .branding {
        grid-area: second;
    }

    .contentToRight {
        padding-left: 0;

        grid-area: third;
    }

    .contentToRight {
        grid-area: forth;
    }

    .personalTrainer {
        display: block;

        margin-left: auto;
        margin-inline: auto;
    }

    .title {
        font-size: 10.7vw;
    }

    .ornament {
        /* gap: 0vw; */
        margin-top: 5vw;
    }

    .input {
        border-radius: 0.5vw;
        padding-left: 2vw;

        /* letter-spacing: 0.5vw; */
    }

    .form_wrapper {
        margin-top: 10.38vw;
        gap: 5vw;
    }

    .textArea_div {
        margin-top: 8.80vw;
    }

    .textArea {
        /* width:  80vw; */
        /* height: 31.14vw; */
        /* font-size: 2vw; */
        padding: 2vw;
        /* letter-spacing: 0.5vw; */

    }

    .submit {
        cursor: pointer;
        width: 100%;
        height: auto;

        font-family: var(--font-orbitron) !important;
        font-size: 16px;
        letter-spacing: 10%;
        text-transform: uppercase;

        background-color: var(--color-blue);

        margin-top: 0.51vw;
        float: right;

        margin-top: 4vw;
    }

    .submit_div {
        width: 80vw;
    }
}