.contact {
    display: flex;
    flex-direction: row;

    padding-inline: calc(3.418 * var(--container-padding));
}
.contentToLeft {
    display: inline-block;
    max-width: 550px;
}

.contentToRight {
    display: inline;
    float: right;

    padding-left: max(4vw, 2em);
    max-width: 550px;
}

.contentToRight .ornament{
    margin-top: 0;
}

.socialMedias {
    gap: 48px;

    margin-top: max(2vw, 1em);

    list-style: none;
    list-style-type: none;
}

.paragraph{
    width: max-content;

    white-space: nowrap;
    font-family: var(--font-orbitron) !important;
    text-transform: uppercase;
}
.ornament{
    overflow: hidden;

    align-items: center;
    gap: 1vw;
    margin-top: 3vw;
}
.line{
    /* display: inline; */
    width: 100%;
    height: var(--border-size);
    background-color: var(--color-blue);
}

.input{
    /* width:  43.33vw; */
    width: 100%;
    height: 1.87vw;
    padding-left: 1em;
    padding-block: 1.5em;
    
    color: var(--color-white);
    font-family: var(--font-orbitron) !important;
    text-transform: uppercase;
    font-size: 0.4em;
    
    border-radius: var(--border-size);
    background-color: var(--color-gray);
    outline: none;
    border: 0.1vw solid var(--color-blue);
}
.form_wrapper{
    margin-top:  3.38vw;
    gap: 1.77vw;
}
.textArea_div{
    margin-top: 2.80vw;
}
.textArea{
    /* width:  43.33vw; */
    width: 100%;
    min-height: 19.82vh;

    background-color: var(--color-gray);
    color: var(--color-white);
    font-family: var(--font-orbitron) !important;
    border: 0.1vw solid var(--color-blue);

    text-transform: uppercase;

    font-size: 0.84vw;

    padding: 1vw;

    resize: none;

}
.submit_div{
    width: 43.33vw;
}
.submit{
    cursor: pointer;
    width: 10.83vw;
    height: 2.65vw;

    font-family: var(--font-orbitron) !important;
    font-size: 0.84vw;
    letter-spacing: 10%;
    text-transform: uppercase;

    background-color: var(--color-blue);

    margin-top: 1.51vw;
    float: right;
}
.label{
    font-family: var(--font-khula) !important;
    font-size: 0.72vw;
    font-weight: 300;
    line-height: 100%;
}

@media screen and (max-width: 850px) {
    .contact{
        padding-inline: 5vw;
    }
    .title {
        font-size: 10.7vw;
    }

    .ornament{
        gap: 0vw;
        margin-top: 5vw;
    }

    .input{
        border-radius: 0.5vw;
        padding-left: 2vw;
        
        letter-spacing: 0.5vw;
    }

    .form_wrapper{
        margin-top:  10.38vw;
        gap: 5vw;
    }

    .textArea_div{
        margin-top: 8.80vw;
    }

    .textArea{
        /* width:  80vw; */
        /* height: 31.14vw; */
        font-size: 2vw;
        padding: 2vw;
        letter-spacing: 0.5vw;
        
    }
    
    .submit{
        cursor: pointer;
        width: 40.83vw;
        height: 8.65vw;
    
        font-family: var(--font-orbitron) !important;
        font-size: 2vw;
        letter-spacing: 10%;
        text-transform: uppercase;
    
        background-color: var(--color-blue);
    
        margin-top: 0.51vw;
        float: right;

        margin-top: 4vw;
    }
    .submit_div{
        width: 80vw;
    }
}