.uper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p{
    text-align: right;
}

.line{
    width: 100%;
    height: 0.2vw;
    background-color: #fff;

    margin-top: 1.82vw;
}
.card{
    cursor: pointer;
}

.card:hover .image img{
    filter: grayscale(30%);
}

.card_container{
    position: relative;
    display: flex;
    align-items: center;
    margin-top:  1.30vw;
}
.image{
    overflow: hidden;
    width:  22.083vw;
    height: 12.96vw;
}
.image img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);

    transition: filter .15s ease-out;
}


.text{
    padding-left: 1.97vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.arrow{
    overflow: hidden;
    position: absolute;
    right: 2.81vw;
 
}