:root {
  --section-padding: max(142px, 21vh);
  --container-padding: 5.9vw;
  --gap-padding: max(1vw, 8px);

  --primitive-white: 255, 255, 255;
  /* --color-black: #000; */
  --color-black: #0f0f0f;
  --color-blue: #00baf7;
  --color-white: rgba(var(--primitive-white), 1);
  --color-gray: rgba(var(--primitive-white), 0.08);

  --title-size: max(2rem, 6.66vw);
  --border-size: 0.3em;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: max(24px, 1vw);
  font-weight: 400;
  -webkit-font-smoothing: antialised;
  font-smoothing: antialised;
  line-height: 1;
}

body {
  color: var(--color-white);

  background-color: var(--color-black);

  overflow-x: hidden;

}

.light {
  background-color: #1c1c1c;
}
section {
  position: relative;
  padding-top: var(--section-padding);
}

.container {
  padding-inline: var(--container-padding);
}

.fullHeight {
  min-height: 100dvh;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* ----------------------- TYPOGRAPHY --------------------- */

*.blue {
  color: var(--color-blue);
}

h1,
h1 > * {
  font-size: 13vw;
  font-family: var(--font-orbitron) !important;
  font-weight: 800;
  font-style: italic;
  line-height: 0.9;
  text-transform: uppercase;
}

h3,
h3 > * {
  font-size: calc(var(--title-size) / 2.0736);
  font-family: var(--font-orbitron) !important;
  text-transform: uppercase;
}

h4,
h4 > * {
  font-size: calc(var(--title-size) / 2.985984);
  font-family: var(--font-orbitron) !important;
  text-transform: uppercase;
}
h5,
h5 > * {
  font-size: 1.504vw;
  font-family: var(--font-orbitron) !important;
  text-transform: uppercase;
}
p,
span {
  line-height: 1.4;
  font-family: var(--font-khula);
  font-size: max(20px, 1.25vw);
}
label.small,
p.small,
span.small {
  line-height: 1.4;
  font-family: var(--font-khula);
  font-size: calc(max(20px, 1.25vw) / 1.2);
}

p.tiny,
small.tiny {
  line-height: 1;
  letter-spacing: 0.2em;
  font-family: var(--font-khula);
  text-transform: uppercase;
  font-size: 0.4em;
}

@media (width <= 850px) {
  :root{
    --container-padding: 1em;
    --section-padding: 15vh;
  }

  h3,
  h3 > * {
    font-size: 10.7vw;
    font-family: var(--font-orbitron) !important;
    text-transform: uppercase;
  }

  h4,
  h4 > * {
    font-size: 7vw;
    font-family: var(--font-orbitron) !important;
    text-transform: uppercase;
  }

  h5,
  h5 > * {
    font-size: 5vw;
    font-family: var(--font-orbitron) !important;
    text-transform: uppercase;
  }

  p.small,
  span.small {
    line-height: 1.4;
    font-family: var(--font-khula);
    font-size: min(17.8px, 4.14vw);
  }

  p,
  span {
    font-size: min(20px, 4.65vw);
  }
}
