.apresentation{
  position: relative;
}

.apresentation svg{
  position: absolute;
  top: 2vw;
  left: 0;
  z-index: -1;
}

.container{
  height: 47.813vw;
  display: flex;
  gap: 5px;
}

.image1{
  width: 45.323vw;
  object-fit: cover;
}

.image2{
  width: 45.5vw;
  
}

.image3{
  width: 43.385vw;
}