.apresentation{
  position: relative;
  overflow: hidden;
}

.apresentation svg{
  position: absolute;
  top: 2vw;
  left: 0;
  z-index: -1;
}

.container{
  height: 47.813vw;
  display: flex;
  gap: 5px;
  overflow: hidden;
}

.image1{
  width: 45.323vw;
  object-fit: cover;
}

.image2{
  width: 45.5vw;
  
}

.image3{
  width: 43.385vw;
}

.image1,.image2,.image3{
  transform: translateY(150%);
}

@media (width <=850px){
  .container{
    flex-direction: column;
    height: 100%;
    gap: 0;
  }

  .image3,
  .image2,
  .image1{
    width: 100%;
    object-fit: cover;
   
  }
}