.plans {
  overflow: hidden;

  padding-bottom: var(--section-padding);
}

.cards {
  justify-content: space-between;
  gap: min(50px, 10vw);
}

.card {
  position: relative;

  /* padding: max(2vw, 1em); */

  background-color: #000;

  border-radius: 0.37vw;

}

.card p {
  font-family: var(--font-khula);
}

.upper {
  padding: max(2vw, 1em);
  padding-bottom: 0;

  border-top: linear-gradient();
}

/* .linearGradientBorder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background: linear-gradient(to right, transparent, var(--color-blue));

  height: 4px;
  width: 100%;

  transform: translateY(-100);
} */

/* .titleCard { } */
.oldPrice {
  padding-top: 2.96vw;
  text-decoration: line-through;
}

.oldPrice {
  color: #888;
}

.time {
  padding-top: 3.75vw;
}

.contact {
  cursor: pointer;
  /* width: 21.9vw; */
  width: 100%;
  height: 2.64vw;

  background-color: var(--color-blue);
  color: var(--color-white);
  font-family: var(--font-orbitron);
  font-size: 0.83vw;
  font-weight: 500;
  line-height: 0.1;
  text-transform: uppercase;

  display: flex;
  justify-content: space-around;
  align-items: center;


  & svg {
    transform: rotate(-45deg);
    width: 0.83vw;
    height: 0.63vw;
  }
}

.division {
  padding-top: 3vw;
  color: var(--color-blue);
}

.rounded {
  width: 7.77vw;
  height: 7.77vw;
  border-radius: 100%;
  background-color: var(--color-blue);
  color: var(--color-white);

  position: absolute;
  top: -3vw;
  right: -3vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;

  margin-top: max(4vw, 2em);

}

.benefit {
  display: flex;
  align-items: center;
  gap: 63px;

  height: auto;
  padding-inline: max(2vw, 1em);
  padding-block: 1.5em;

  font-size: calc(max(20px, 1.25vw) / 1.2);

}

.benefit:nth-child(2n - 1) {
  background-color: #222;
}

.benefit:last-child {
  border-bottom-left-radius: var(--border-size);
  border-bottom-right-radius: var(--border-size);
}

.checkIcon {
  display: block;
  
  width: 14px;
  height: 14px;
  aspect-ratio: 1 / 1;
}

.effect {
  width: 24vw;
  height: 0.3vw;
  background: linear-gradient(to right,
      var(--color-black) 35%,
      var(--color-blue));
  position: absolute;
  top: -0.2vw;
  right: 0;
  z-index: -1;
}

.cardTable {
  margin-top: 7.86vw;
}

.roundedCheck {
  width: 2.5vw;
  height: 2.5vw;
  background-color: #000;
  border-radius: 100%;

  display: grid;
  place-items: center;
}

.line {
  align-items: center;
  gap: 1vw;

  font-family: var(--font-khula);
  width: 33.5vw;
  height: 5.2vw;
}

.line p {
  width: 22vw;
}

.titleTable {
  height: 5.2vw;
  padding-left: 5.9vw;
}

.contactTable {
  padding-top: 5vw;
  padding-inline: 3vw;
}

@media screen and (max-width: 850px) {
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 25vw;
  }

  .card {
    border-radius: 2vw;

    /* padding: 0; */
  }

  .card>* {
    /* padding-inline: 5vw; */
  }

  .titleCard {
    /* padding-top: 13vw; */
  }

  .oldPrice {
    padding-top: 13vw;

  }

  .division {
    margin-top: 10vw;
  }

  .time {
    padding-top: 14vw;
  }

  .contact {
    justify-content: space-around;
    width: 100%;
    height: 12vw;

    font-size: 3vw;
    line-height: 1;

    border-radius: 0.5vw;

    & svg {
      transform: rotate(-45deg);
      width: 5vw;
      height: 2vh;
    }
  }

  .rounded {
    width: 23vw;
    height: 23vw;

    top: -8vw;
  }

  .effect {
    width: 90vw;
    height: 0.5vw;

    position: absolute;
    top: -1vw;
  }







  .tableContainer {
    flex-direction: column;
    gap: 10vw;
  }

  .roundedCheck {
    width: 10vw;
    height: 7.5vw;

    & svg {
      height: 2vw;
    }
  }

  .line {
    gap: 5vw;

    width: 90vw;
    height: 20.2vw;
  }

  .line p {
    width: 92vw;
  }

  .cardTable {
    margin-top: 12vw;
  }

  .tableContainer {
    margin-top: 20vw;
  }

  .contactTable {
    padding-top: 15vw;
    padding-inline: 13vw;
  }

  .benefit {
    gap: 1em;
  }
}
