.myClients {}

.arrow {
  position: relative;

  height: min(5vw, 1.4em);


  transform: translateY(-50%);
}

.left {
  position: absolute;
  left: 0;
  top: calc(50% + var(--section-padding) / 2);

  transform: translateX(calc(-50% + var(--container-padding))) scaleX(-1) translateY(-50%);
}

.slide {
  /* display: flex; */
  /* flex-direction: row; */
  /* gap: 73px; */

  white-space: nowrap;

  /* max-width: calc(100% - 3 * var(--container-padding)); */
  margin-inline: auto;
  height: 70dvh;
  padding-inline: calc(1em + var(--container-padding));

  overflow: scroll;
  cursor: grab;
}

.right {
  position: absolute;
  right: 0;
  top: calc(50% + var(--section-padding) / 2);

  transform: translateY(-50%) translateX(calc(50% - var(--container-padding)));
}

.figure {
  position: relative;

  display: inline-block;

  padding: 4vw;
  height: 70dvh;
  aspect-ratio: 1 / 1;
  /* width: 40vw; */

  overflow: hidden;

}

.image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;



}