.card {
  position: relative;

  max-width: 492px;
  padding-inline: calc(2 * max(1vw, 0.5em));
  padding-block: calc(2.4 * max(1vw, 0.5em));

  background-color: var(--color-black-overlay, #000);

  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;

  cursor: pointer;
}

.linearGradientBorder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background: linear-gradient(to right, transparent, var(--color-blue));

  height: 4px;
  width: 100%;

  transform: translateY(-100);
}

.top {
  gap: min(1vw, 16px);
  margin-bottom: calc(2.2 * min(1vw, 16px));
}

.image {
  display: inline-block;

  height: 96px;
  width: 96px;
  aspect-ratio: 1 /1;

  border-radius: 50%;
}

.name {
  display: inline-block;
  
}

.socialMedia {
  display: inline-block;
  
  font-size: 0.38em;
  text-transform: capitalize;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-family: var(--font-khula);


}

.opinion {
  /* max-width: 85%; */
  margin-bottom: calc(5.2 * min(1vw, 16px));

  text-align: justify;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.call {
  text-transform: uppercase;
  font-size: 0.6em;
  line-height: 0.9;
  font-family: var(--font-orbitron);
  color: var(--color-white);

  background: transparent;

}

.arrow {
  max-height: 24px;
  aspect-ratio: 1 / 1;
}