.card {
  position: relative;

  display: inline-block;
  vertical-align: top;

  min-width: 600px;
  padding-inline: calc(2 * max(1vw, 0.5em));
  padding-block: calc(2.4 * max(1vw, 0.5em));
  margin-left: 2em;

  /* background-color: var(--color-dark-blue-overlay, #000); */
  background-color: #090909;

  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;

  transition: background-color 200ms var(--animation-bezier-smooth);

  cursor: grab;
}

.card:hover {
  background-color: var(--color-dark-blue-overlay, #000);
}

.linearGradientBorder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background: linear-gradient(to right, #00000000, #00000000);

  height: 4px;
  width: 100%;
  transition: background 200ms var(--animation-bezier-smooth);
  transform: translateY(-100);
}

.card:hover .linearGradientBorder {
  /* background: linear-gradient(to right, #00000000, var(--color-blue)); */
}

.top {
  gap: max(1vw, 16px);
  margin-bottom: calc(1 * max(1vw, 16px));
}

.image {
  display: inline-block;
  object-fit: cover;

  height: 96px;
  width: 96px;
  aspect-ratio: 1 /1;

  border-radius: 50%;
}

.name {
  display: inline-block;

}

.socialMedia {
  display: block;

  margin-top: 1em;

  font-size: 11px;
  text-transform: capitalize;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-family: var(--font-khula);


}

.opinion {
  max-width: 500px;
  margin-bottom: calc(5.2 * min(1vw, 16px));

  white-space: normal;
  text-align: left;
  font-size: calc(max(20px, 1.25vw) / 1.2);
}

.bottom {
  width: 100%;
  position: relative;

  width: 100%;
}

.call {
  text-transform: uppercase;
  font-size: 0.6em;
  line-height: 0.9;
  font-family: var(--font-orbitron);
  color: var(--color-white);

  background: transparent;
  transition: color 200ms var(--animation-bezier-smooth)
}

.arrow {
  max-height: 24px;
  aspect-ratio: 1 / 1;
  margin-left: 10vw;

  /* transform: scaleX(1) translateX(-100%); */
  opacity: 0.0;
  transition: transform 200ms var(--animation-bezier-smooth),
              opacity 200ms var(--animation-bezier-smooth);
}

.card:hover .arrow {
  opacity: 1;
  transform: scaleX(-1);
}

.arrow path {
  stroke: var(--color-white);
}

@media (width <=480px) {
  .opinion {
    max-width: calc(100vw - 2 * var(--container-padding) - 2 * 2em);
  }

  .card {
    min-width: calc(100vw - 2 * var(--container-padding) - 2 * 2em);

    margin-left: 1em;

  }

  .card:nth-child(1) {
    margin-left: var(--container-padding);
  }

  .image {
    height: 48px;
    width: 48px;
  }

  .arrow {
    height: 12px;
  }

}