.avaliations {
  overflow-x: hidden;
  gap: calc(4 * min(1vw, 1em));

  padding-right: 0;

  white-space: nowrap;

  overflow: hidden;

  cursor: grab;
}

@media (480px <= width <= 969px) {
  .avaliations {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 480px) {
  .avaliations {
    grid-template-columns: repeat(1, 1fr);
  }
}
